{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
      <title>Wenfo</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{% static 'css/wenfo_style.css' %}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
      
   </head>
   <body class="signup_body">
         <div class="signup_form card" style="margin-top: 15px;">
            <h3 class=" model-header">Password Reset</h3>
            <p class="model-p">
               We've emailed you instructions for setting your password, if an account exists with the email you entered.
               You should receive them shortly.
             </p>
             <p class="model-p">
               If you don't receive an email, please make sure you've entered the address you registered with,
               and check your spam folder.
             </p>  
          </div>
  </body>
</html>