{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
      <title>Wenfo</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{% static 'css/wenfo_style.css' %}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
      <style type="text/css">
      </style>
   </head>
   <body>
      <div class="container"></div>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#menu-toggle" id="menu-toggle">
                  <!-- <span class="glyphicon glyphicon-list" aria-hidden="true"></span> -->
                  <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" class="img_circle" height="30px" width="30px">
               </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
               <form class="navbar-form navbar-right" action="#" method="GET">
                  <div class="input-group">
                     <input type="text" class="form-control" placeholder="Search..." id="query" name="search" value="">
                     <div class="input-group-btn">
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                        <button type="button" class="btn logout_btn"><a href="{% url 'logout_view' %}" class="logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></button>
                     </div>
                  </div>
               </form>
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="{% url 'worldnews' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> World</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Bussiness </a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Entertainment</a></li>
                  <li>
                     <div class="dropdown">
                       <button class="dropbtn"><i class="fa fa-angle-down" style="font-size: 17px;
                         font-weight: 700;" aria-hidden="true"></i>More</button>
                       <div class="dropdown-content">
                       <a href="#">Sports</a>
                       <a href="#">Technology</a>
                       <a href="#">Travel</a>
                       <a href="#">Climate</a>
                       <a href="#">Science</a>
                       <a href="#">History</a>
                       </div>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <div id="wrapper" class="">
         <div class="container-fluid">
            <!-- Sidebar -->
            <div id="sidebar-wrapper"  style="margin-top: 50px;">
               <a class="sidebar_profile" href="{% url 'dashboard' %}">
                  <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" class="img_circle" height="100px" width="100px">
               </a>
               <ul class="sidebar-nav">
                  
                  <li>
                     <a href="{% url 'notification' %}"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span> Notifications</a>
                  </li>
                  <li style="background: #C0375B;">
                     <a href="#" style="color:#fff;"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</a>
                  </li>
                  
               </ul>
               <br>
               <div class="sidebar_createprofile">
                  <button class="btn_create" data-toggle="modal" data-target="#create_modal">Create</button>
               </div>
               
            </div>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="content-wrapper" class="content-wrapper box_shadow">
               <div class="container-fluid">
                  <div class="row">
                    <div class="tab">
  <button class="tablinks" onclick="openCity(event, 'tab_Username')" id="defaultOpen">Username</button>
  <button class="tablinks" onclick="openCity(event, 'tab_Phone')" id="changePhone">Phone</button>
  <button class="tablinks" onclick="openCity(event, 'tab_Password')" id="changePassword">Password</button>
  <button class="tablinks" onclick="openCity(event, 'tab_Email')" id="changeEmail">Email</button>
  <button class="tablinks" onclick="openCity(event, 'tab_Urllink')" id="changeUrllink">Url link</button>
</div>

<div id="tab_Username" class="tabcontent">
      <form action="{% url 'edit_profile' %}" method="post" >
        {% csrf_token %}
        
        {% if status == "change_username" %}
          <p class="alert alert-success"  style="margin-top:15px;"  role="alert">Your username is successfully changed, Thanks.</p>
        {% endif %}

        {% if status == "not_change_username" %}
          <p class="alert alert-danger"  style="margin-top:15px;"  role="alert">This username is already exist.</p>
        {% endif %}

    <div class="input_group">        
        <label class="form_label">Username</label>
        <input type="text" name="username" value="{{user.username}}" id="txt_username" placeholder="Enter username" maxlength="50" class="form_control">
        <button  value="submit" type="submit" class="btn_submit">Save</button>
        </div>
          </form>
        <br>
     
        <div class="input_group">
           <form>
              <fieldset>
                   <legend>Similar available username</legend>
                   {% for username in user_names %}
                   <p>{{username}}</p>
                   {% endfor %}
              </fieldset>
           </form>
        </div>    
      </div>
  
    <div id="tab_Phone" class="tabcontent">
  
     <form action="{% url 'edit_profile' %}" method="post" >
            {% csrf_token %}

              {% if status == "change_phone" %}
                  <div class="alert alert-success"  style="margin-top:15px;"  role="alert">Your phone number is successfully changed, Thanks.</div>
              {% endif %}
        <div class="input_group">
        <label class="form_label">Phone</label>
          <div id="addbtn_phone_div">
          <input type="text" name="Phone" maxlength="10" value="{{number}}" id="txt_phone" placeholder="Enter phone" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form_control">
          </div>
          <button id="addbtn_phone" type="button" class="addbtn_phone"><i class="fa fa-plus" aria-hidden="true"></i></button>
          <button type="submit" class="btn_submit">Save</button>
        </div> 
    </form>
    </div>

    <div id="tab_Password" class="tabcontent">
        <form action="{% url 'edit_profile' %}" method="post" >
            {% csrf_token %}
              {% if status == "PasswordNotMatched" %}
                  <div class="alert alert-warning"  style="margin-top:15px;"  role="alert"> Password and Confirm password must be same.</div>
              {% elif status == "Success" %}
                  <div class="alert alert-success"  style="margin-top:15px;"  role="alert">Your password is successfully changed, Thanks.</div>
              {% endif %}
            <div class="input_group">
                <label class="form_label">Password</label>
                <input type="Password" name="password" maxlength="50" id="txt_password" placeholder="Enter password"  class="form_control">
                
              </div>
              <div class="input_group">
                <label class="form_label">Confirm Password</label>
                <input type="Password" name="confirm_password" maxlength="50" id="txt_confirmpassword" placeholder="Enter confirm password"  class="form_control">
                <button class="btn_submit" type="submit">Save</button>
              </div>
              </form>
          </div>




    <div id="tab_Email" class="tabcontent">
        <form action="{% url 'edit_profile' %}" method="post" >
              {% csrf_token %}

                {% if status == "change_email" %}
                    <div class="alert alert-success"  style="margin-top:15px;"  role="alert">Your email is successfully changed, Thanks.</div>
                {% endif %}
          <div class="input_group">
            <label class="form_label">Email</label>
            <input type="Email" name="Email" value="{{user.email}}" maxlength="50" id="txt_email" placeholder="Enter email" class="form_control">
            <button class="btn_submit">Save</button>
          </div>
       </form>
      </div>


    <div id="tab_Urllink" class="tabcontent">

      <form action="{% url 'edit_profile' %}" method="post" >
            {% csrf_token %}

              {% if status == "change_urllink" %}
                  <div class="alert alert-success"  style="margin-top:15px;"  role="alert">Your url  is successfully changed, Thanks.</div>
              {% endif %}
              
        <div class="input_group">
            <label class="form_label">Url link</label>
            <div id="addbtn_url_div">
              <input type="Url" name="Url" id="txt_url" placeholder="Enter url" class="form_control">
            </div>
            <button type="button" id="addbtn_url" class="addbtn_phone"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <button type="submit"  class="btn_submit">Save</button>
          </div>
    </form>
      </div>
  
  </div>
               </div>
            </div>
            <!-- /#page-content-wrapper -->
         </div>
      </div>

      <div class="modal fade" id="create_modal" role="dialog">
        <div class="modal-dialog">
        

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Add News</h4>
            </div>
            <form method="POST" action="{% url 'addnews' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-12">
                      <label class="form_label">Title</label>
                      <input type="text" name="title" required="true" placeholder="Title of the news" class="form_control">
                    </div>

                    <div class="col-md-12">
                      <label class="form_label">Description</label>
                      <textarea id="title_description" name="body" required="true" placeholder="Description of the news" rows="4" cols="50" class="form_control">
                      
                      </textarea>
                    </div>

                    <div class="col-md-12">
                      <label class="form_label">File Upload</label>
                      <input type="file" name="myfile" class="form_control" style="padding: 0px;">
                    </div>

                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-default">Post</button>
                </div>
            </form>
          </div>
          
        </div>
      </div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  });

  function openCity(evt="none", tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");

    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }

// Get the element with id="defaultOpen" and click on it

if ("{{ page }}" == "change_password"){
  document.getElementById("changePassword").click();
}else if ("{{ page }}" == "change_phone") {
  document.getElementById("changePhone").click();
}else if ("{{ page }}" == "change_email") {
  document.getElementById("changeEmail").click();
}else if ("{{ page }}" == "change_urllink") {
  document.getElementById("changeUrllink").click();
}else {
  document.getElementById("defaultOpen").click();
}


 $("#addbtn_phone").click(function(){

   $('#addbtn_phone_div').append('<input type="text" name="Phone" maxlength="10" id="txt_phone" placeholder="Enter phone" class="form_control">')

      });


 $("#addbtn_url").click(function(){
  $('#addbtn_url_div').append('<input type="Url" name="Url" id="txt_url" placeholder="Enter url" class="form_control">')
  });

</script>
</body>
</html>